<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Aggiungi Iscritto</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
    <h1>Add enrollment</h1>
    <form method="POST">
        <label>Student ID:</label><br>
        <input type="text" name="student_id" required><br>

        <label>Course ID</label><br>
        <input type="text" name="course_id" required><br>

        <label>Registration Date:</label><br>
        <input type="date" name="registration_date" required><br>

        <label>Mark:</label><br>
        <input type="text" name="mark" required><br>

        <label>Status:</label><br>
        <input type="text" name="status" required><br><br>

        <button type="submit">Save</button>
    </form>
    <br>
    <button onclick="location.href='/enrollments'">Cancel</button>
</body>
</html>
