<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <title>Gestione Studenti</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>
    <h1>Students Management Dashboard</h1>

    <nav class="navbar">
        <a href="{{ url_for('dashboard_students') }}">Students</a>
        <a href="{{ url_for('dashboard_courses') }}">Courses</a>
        <a href="{{ url_for('dashboard_enroll') }}">Enrollments</a>
        <a href="{{ url_for('dashboard_statistics') }}">Statistics</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        <form class="search-form" method="GET" style="float:right;">
        <input type="search" name="q" value="{{ request.args.get('q', '') }}" placeholder="🔍 Search...">
    </form>
    </nav>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flash">
        {% for msg in messages %}
        <li>{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <section class=" students">
        <h2>Students</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>DOB</th>
                <th>Student ID</th>
                <th>Actions</th>
            </tr>
            {% for stud in students %}
            <tr>
                <td>{{ stud.id }}</td>
                <td>{{ stud.name }}</td>
                <td>{{ stud.surname }}</td>
                <td>{{ stud.email }}</td>
                <td>{{ stud.born_date }}
                    <td>{{ stud.student_id }}</td>
                    <td>
                        <button onclick="location.href='/edit/student/{{ stud.id }}' " class="btn-edit"><i class="fas fa-pen"></i>Edit</button>
                        <button onclick="location.href='/delete/student/{{ stud.id }}/{{ stud.student_id }}'" class="btn-delete"><i class="fas fa-trash-alt"></i>Delete</button>
                    </td>
            </tr>
            {% endfor %}
        </table>
        <button onclick="location.href='/add/student'">Add student</button>
    </section>


</body>

</html>